<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <header class="navbar navbar-default navbar-fixed-top" id="top">
    <div class="container">
      <div class="navbar-header">
        <a href="/cmdb-quantbio/" class="navbar-brand">CMDB Quantitative Biology 2023</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Syllabus</li>
              <li><a href="/cmdb-quantbio/resources/syllabi/bootcamp/index.html">Bootcamp Syllabus</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Textbook</li>
              <li><a href="https://andrew-bortvin.github.io/cmdb-bootcampNotes/">Reference Text</a></li>
            </ul>
          </li>
          <!--  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Syllabus</li>
              <li><a href="/cmdb-quantbio/resources/syllabi/bootcamp/index.html">Bootcamp Syllabus</a></li>
              <li><a href="/cmdb-quantbio/resources/syllabi/lab/index.html">Lab Syllabus</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Command line Reference Sheets</li>
              <li><a href="/cmdb-quantbio/resources/references/unix.html">Unix</a></li>
              <li><a href="/cmdb-quantbio/resources/references/git.html">Git</a></li>
              <li><a href="/cmdb-quantbio/resources/references/git_recipes.html">Git Recipes</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Python, Numpy, Pandas, and Plotting</li>
              <li><a href="/cmdb-quantbio/resources/references/python.html">Python and Pandas</a></li>
              <li><a href="/cmdb-quantbio/resources/references/numpy.html">Numpy</a></li>
              <li><a href="/cmdb-quantbio/resources/gallery/README.html">Plotting/matplotlib</a></li>
              <li><a href="https://matplotlib.org/cheatsheets/cheatsheets.pdf">Matplotlib Cheat Sheet</a></li>
            </ul>
          </li>
        -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bootcamp<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Class Sessions</li>
              <li><a href="/cmdb-quantbio/webpages/day1.html">Day 1</a></li>
              <li><a href="/cmdb-quantbio/webpages/day2.html">Day 2</a></li>
              <li><a href="/cmdb-quantbio/webpages/day3.html">Day 3</a></li>
               <!--
              <li><a href="/cmdb-quantbio/webpages/day4/index.html">Day 4</a></li>
              <li><a href="/cmdb-quantbio/webpages/day5/index.html">Day 5</a></li>
              -->
            </ul>
          </li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lab<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Class Sessions</li>
              <li><a href="/cmdb-quantbio/webpages/week1/index.html">Week 1</a></li>
              <li><a href="/cmdb-quantbio/webpages/week2/index.html">Week 2</a></li>
              <li><a href="/cmdb-quantbio/webpages/week3/index.html">Week 3</a></li>
              <li><a href="/cmdb-quantbio/webpages/week4/index.html">Week 4</a></li>
              <li><a href="/cmdb-quantbio/webpages/week5/index.html">Week 5</a></li>
              <li><a href="/cmdb-quantbio/webpages/week6/index.html">Week 6</a></li>
              <li><a href="/cmdb-quantbio/webpages/week8/index.html">Week 8</a></li>
              <li><a href="/cmdb-quantbio/webpages/week9/index.html">Week 9</a></li>
              <li><a href="/cmdb-quantbio/webpages/week10/index.html">Week 10</a></li>
              <li><a href="/cmdb-quantbio/webpages/week11/index.html">Week 11</a></li>
              <li><a href="/cmdb-quantbio/webpages/week13/index.html">Week 13</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </header>


  <div class="container">
    <div class="page-header"></div>
    <div class="row">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>

  </body>
</html>
